/* Core styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  max-width: 100%;
  min-height: 100%;
  transition:0.2s all ease;
}
h1 small {
	font-weight:100;
	display:block;
	color:#555;
	font-size:19px;
	margin-top:5px;
}
h3 small {
	font-weight:100;
	display:block;
	color:#555;
	font-size:14px;
	margin-top:5px;
}
a {
  color: #0012ff;
  text-decoration: none;
  padding: 0px 0px;
  transition:0.2s all ease;
  position:relative;
  padding-bottom:0px;
}
a:after {
	content: '';
	position: absolute;
	left:0px;
	top:100%;
	width:100%;
	height:1px;
	background: #0012ff;
	opacity:0;
	margin-top:6px;
	transition:0.2s all ease;
}	
a:hover {
	color:#0012ff;
}
a:hover:after {
	opacity:1.0;
	margin-top:0px;
}
a:focus {
	color:#000;
}
#root {
  min-height: 100vh!important;
}
p a {
	padding-bottom:0px;
}
b.primary {
	color: #0012ff!important;
}
.inverted * {
	color:#fff!important;
	border-color:#fff!important;
}
.fade-enter {
  opacity: 0;
  z-index: 1;
  transform: translateY(100%);
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: 0.5s all ease;
}
.fade-leave.fade-leave-active {
	opacity:0;
	transform: translateY(100%);
}
.Default {
	background: #fff;  
	min-height: 100vh;
	min-width:  100%;
}
.Default .Wrapper {
	display:flex;
	align-items:center;
	justify-content:center;
	min-height: 100vh;
	max-width: 998px;
	margin:auto;
}
.Default .Inner {
	text-align:center;
}
.Page {
	background: #fff;  
	min-height: 100vh;
	min-width:  100%;
}
.Page .Wrapper {
	max-width: 998px;
	margin:auto;
}
.Page .Inner {
	text-align:left;
	padding-top:0px;
}
.divider {
	margin:30px 0px;
	border-bottom:1px solid #eee;
	width:100%;
	height:1px;
}
.blocked {
  overflow:hidden;
}
.center {
	text-align:center;
	width:100%;
}