.Position {
	border-bottom:1px solid #eee;
	padding-bottom:30px;
	margin-bottom:30px;
}
.Position:last-child {
	border-bottom:0px;
	margin-bottom:0px;
	padding-bottom:0px;
}
.Position h2 {
	margin-bottom:5px;
	margin-top:0px;
}
.Position-level {
	margin-top:5px;
}
.Position-level strong {
	color:#0012ff;
}
.Position-content {
	display:flex;
}
.Position-content img {
	margin-right:30px;
}