.logotype {
	display:flex;
	align-items:center;
	justify-content:center;
}
.logotype img {
	margin-right:15px;
}
.logotype h1 {
	font-size:55px;
	margin:10px 0px;
}
@media screen and (max-width: 768px) {
	.logotype h1 {
		font-size:29px;
	}
}
@media screen and (max-width:576px) {
	.logotype img {
		display:none;
	}
}
.Jumbotron {
	position:relative;
	transition:0.2s all ease;
}
.Jumbotron-actions {
	margin-top:20px;
	width:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	align-items:center;
}
@media screen and (max-height:654px) {
	.Default .Footer {
		display:none;
	}
}