.Modal {
	position:fixed;
	left:0;
	top:-100%;
	width:100%;
	height:100%;
	z-index:-1;
	opacity:0;
	visibility:hidden;
	background:#000;
	display:flex;
	align-items:center;
	justify-content:center;
	transition:0.4s all ease;
}
.Modal-wrapper {
	max-width:550px;
	transition:0.4s all ease;
	padding:0 15px;
}
@media screen and (max-width: 768px) {
  .Modal-wrapper {
  	overflow-y: scroll;
	  height: auto;
	  padding-bottom: 100px;
	  padding-top: 100px;
	}
	.Modal.open {
		padding-top:84px;
	}
}
.Modal.open {
	top:0;
	opacity:1.0;
	visibility: visible;
	z-index:999;
}
.Modal-title small {
	font-weight:100;
	opacity:0.5;
}
.Modal-closer {
	position:absolute;
	right:20px;
	top:20px;
}
