.Default {
	background: #fff;  
	min-height: 100vh;
	min-width:  100%;
}

.Default .Wrapper {
	display:flex;
	align-items:center;
	justify-content:center;
	min-height: 100vh;
	max-width: 998px;
	margin:auto;
}

.Default .Inner {
	text-align:center;
}